In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [77]:
df_zero2nine = pd.read_excel('zero2nine.xlsx')
df_nine2eighteen = pd.read_excel('nine2eighteen.xlsx')
df_eighteen224 = pd.read_excel('eighteen224.xlsx')
df_zero224 = pd.read_excel('zero224.xlsx')
df_highway = pd.read_excel('고속도로_final.xlsx')

In [78]:
df_highway.set_index('dong', inplace = True)
df_highway

      weight
dong
세곡동     2.00
고덕1동    1.00
고덕2동    1.00
강일동     2.00
상일동     1.00
방화1동    1.00
방화2동    1.00
방화3동    1.00
시흥1동    0.35
시흥2동    0.35
시흥3동    0.35
독산1동    0.35
독산2동    0.35
독산3동    0.35
상계1동    1.00
내곡동     3.00
양재1동    0.70
양재2동    0.70
장지동     1.00
거여1동    0.50
거여2동    0.50
마천1동    0.50
마천2동    0.50

In [89]:
df_9218 = df_nine2eighteen.rename(columns={'행정동명':'dong'})
df_9218 = df_9218.set_index('dong')
df_029 = df_zero2nine.rename(columns={'행정동명':'dong'})
df_029 = df_029.set_index('dong')
df_18224 = df_eighteen224.rename(columns={'행정동명':'dong'})
df_18224 = df_18224.set_index('dong')
df_0224 = df_zero224.rename(columns={'행정동명':'dong'})
df_0224 = df_0224.set_index('dong')

In [84]:
result1 = pd.merge(df_highway,df_9218,on='dong',how='right')

In [88]:
df_9to18=result1

In [90]:
df_0to9 = pd.merge(df_highway,df_029,on='dong',how='right')
df_18to24 = pd.merge(df_highway,df_18224,on='dong',how='right')
df_0to24 = pd.merge(df_highway,df_0224,on='dong',how='right')

In [92]:
df_9to18.to_excel('./9to18.xlsx')
df_0to9.to_excel('./0to9.xlsx')
df_18to24.to_excel('./18to24.xlsx')
df_0to24.to_excel('./0to24.xlsx')

In [96]:
charger = pd.read_excel('./total_final (2).xlsx')
charger.set_index('dong', inplace = True)

In [95]:
df_0to24.count()

weight     23
총생활인구수    423
dtype: int64

In [97]:
df_0to9_final = pd.merge(df_0to9,charger,on='dong',how='right')
df_9to18_final = pd.merge(df_9to18,charger,on='dong',how='right')
df_18to24_final = pd.merge(df_18to24,charger,on='dong',how='right')
df_0to24_final = pd.merge(df_0to24,charger,on='dong',how='right')

In [98]:
df_0to9_final.head()

,weight,총생활인구수,Unnamed: 0,fulltime_fch,fulltime_fch_constraint,nonfulltime_fch,nonfulltime_fch_constraint,fulltime_sch,fulltime_sch_constraint,nonfulltime_sch,nonfulltime_sch_constraint
dong,,,,,,,,,,,
개포1동,NaN,8100.326260,0,0,0,0,0,0,0,3,0
개포2동,NaN,18417.078356,1,1,0,0,0,0,0,0,0
개포4동,NaN,13918.161661,2,1,0,1,0,4,8,4,0
논현1동,NaN,33392.521581,3,2,0,2,0,11,0,1,0
논현2동,NaN,29332.099087,4,0,0,3,0,11,0,9,0

In [100]:
df_0to9_final.to_excel('./0to9_final.xlsx')
df_9to18_final.to_excel('./9to18_final.xlsx')
df_18to24_final.to_excel('./18to24_final.xlsx')
df_0to24_final.to_excel('./0to24_final.xlsx')